<div class="card ms-1 rounded-circle" style="width: 9rem;">
    <div class="card-body text-center">
        <h5 class="card-title">48</h5>
        <h6 class="card-subtitle mb-2 text-muted">Threats</h6>
    </div>
</div>
<!-- Total Session Card -->
<div class="card ms-1 rounded-circle" style="width: 9rem;">
    <div class="card-body text-center">
        <h5 class="card-title">250</h5>
        <h6 class="card-subtitle mb-2 text-muted">Total Sessions</h6>
    </div>
</div>
<!-- Total Session Card -->
<div class="card ms-1 rounded-circle" style="width: 9rem;">
    <div class="card-body text-center">
        <h5 class="card-title">150</h5>
        <h6 class="card-subtitle mb-2 text-muted">Authenticated</h6>
    </div>
</div>
<!-- Total Session Card -->
<div class="card ms-1 rounded-circle" style="width: 9rem;">
    <div class="card-body text-center">
        <h5 class="card-title">75</h5>
        <h6 class="card-subtitle mb-2 text-muted">Scored Sessions</h6>
    </div>
</div>

